{% extends "layout.html" %}

{% block content %}

    <script>
        function oneRegion(dataContent, resolution, charType) {

            // Lấy mỗi array các phần tử thôi
            data = JSON.parse(dataContent).summaryStats;
            console.log(data)

            var parseDate;
            var eachItem;
            var step; // Khoang cach hien thi vach o chieu x
            if (resolution == "hours") {
                parseDate = d3.time.format("%Y-%m-%dT%H:%M:%S").parse;
                eachItem = 5;
                step = 12; // Hien thi gio theo kieu 0:3:6:9

            } else {
                parseDate = d3.time.format("%Y-%m-%d").parse;
                eachItem = 80;
                step = 1; // Luon hien thi ngay
            }

            var numberItem = Object.keys(data).length;
            // Xet chieu cao, rong
            var fullWith = eachItem * numberItem;
            var fullHeight = 270;
            var margin = {top: 30, right: 20, bottom: 30, left: 50},
                    width = fullWith - margin.left - margin.right,
                    height = fullHeight - margin.top - margin.bottom;

            // Parse the date / time
            // Set the ranges
            var x = d3.time.scale().range([0, width]);
            var y = d3.scale.linear().range([height, 0]);

            // Define the axes
            var xAxis = d3.svg.axis().scale(x)
                    .orient("bottom")
                    .ticks(numberItem / step); // So luong cac vach hien thi o chieu x, y

            var yAxis = d3.svg.axis().scale(y)
                    .orient("left");

            // Define the line
            var valueline = d3.svg.line()
                    .x(function (d) {
                        return x(d.date);
                    })
                    .y(function (d) {
                        if (charType == "numVisitors")
                            return y(d.numVisitors);
                        else if (charType == "numReturningVisitors") {
                            return y(d.numReturningVisitors);
                        }
                    });

            // Adds the svg canvas
            var svg = d3.select("#visualize")
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform",
                            "translate(" + margin.left + "," + margin.top + ")");
            //d3.csv("data.csv", function(error, data) {

            // Chuẩn hóa lại dữ liệu
            data.forEach(function (d) {
                d.date = parseDate(d.date);
                if (charType == "numVisitors")
                    d.numVisitors = +d.numVisitors;
                else if (charType == "numReturningVisitors") {
                    d.numReturningVisitors = +d.numReturningVisitors;

                }

            });

            // Scale the range of the data
            x.domain(d3.extent(data, function (d) {
                return d.date;
            }));
            y.domain([0, d3.max(data, function (d) {
                if (charType == "numVisitors")
                    return d.numVisitors;
                else if (charType == "numReturningVisitors") {
                    return d.numReturningVisitors;
                }

            })]);

            // Add the valueline path.
            svg.append("path")
                    .attr("class", "line")
                    .attr("d", valueline(data));

            // Add the X Axis
            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

            // Add the Y Axis
            svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis);


        }
        function allRegion(dataContent, resolution) {
            console.log("data", dataContent)
            data = dataContent;
            data = JSON.parse('[' + data + ']')
            var margin = {top: 20, right: 80, bottom: 30, left: 50},
                    width = 960 - margin.left - margin.right,
                    height = 280 - margin.top - margin.bottom;
            var parseDate;
            if (resolution == "hours") {
                parseDate = d3.time.format("%Y-%m-%dT%H:%M:%S").parse;
            } else {
                parseDate = d3.time.format("%Y-%m-%d").parse;
            }

            {#        var parseDate = d3.time.format("%Y%m%d").parse;#}

            var x = d3.time.scale()
                    .range([0, width]);

            var y = d3.scale.linear()
                    .range([height, 0]);

            var color = d3.scale.ordinal().range(["#FF0000", "#FFFF00", "#000000", "#FF00FF"]);

            var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

            var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left");

            var line = d3.svg.line()
                    .interpolate("basis")
                    .x(function (d) {
                        return x(d.date);
                    })
                    .y(function (d) {
                        return y(d.temperature);
                    });
            var svg = d3.select("#visualize").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            function make_y_axis() {
                return d3.svg.axis()
                        .scale(y)
                        .orient("left")
            }


            data.forEach(function (d) {
                {#                d.date = new Date(d.date);#}
                d.date = parseDate(d.date);
            });

            color.domain(d3.keys(data[0]).filter(function (key) {
                return key !== "date";
            }));


            //console.log(data);

            var cities = color.domain().map(function (name) {
                return {
                    name: name,
                    values: data.map(function (d) {
                        return {date: d.date, temperature: +d[name]};
                    })
                };
            });

            console.log(cities);

            x.domain(d3.extent(data, function (d) {
                return d.date;
            }));

            y.domain([
                d3.min(cities, function (c) {
                    return d3.min(c.values, function (v) {
                        return v.temperature;
                    });
                }),
                d3.max(cities, function (c) {
                    return d3.max(c.values, function (v) {
                        return v.temperature;
                    });
                })
            ]);

            svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

            svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
            svg.append("g")
                    .attr("class", "grid")
                    .call(make_y_axis()
                            .tickSize(-width, 0, 0)
                            .tickFormat("")
                    )


            var city = svg.selectAll(".city")
                    .data(cities)
                    .enter().append("g")
                    .attr("class", "city");

            city.append("path")
                    .attr("class", "line")
                    .attr("d", function (d) {
                        return line(d.values);
                    })
                    .style("stroke", function (d) {
                        return color(d.name);
                    });


            var mouseG = svg.append("g")
                    .attr("class", "mouse-over-effects");

            mouseG.append("path") // this is the black vertical line to follow mouse
                    .attr("class", "mouse-line")
                    .style("stroke", "black")
                    .style("stroke-width", "1px")
                    .style("opacity", "0");

            var lines = document.getElementsByClassName('line');

            var mousePerLine = mouseG.selectAll('.mouse-per-line')
                    .data(cities)
                    .enter()
                    .append("g")
                    .attr("class", "mouse-per-line");

            mousePerLine.append("circle")
                    .attr("r", 7)
                    .style("stroke", function (d) {
                        return color(d.name);
                    })
                    .style("fill", "none")
                    .style("stroke-width", "1px")
                    .style("opacity", "0");

            mousePerLine.append("text")
                    .attr("transform", "translate(10,3)");

            mouseG.append('svg:rect') // append a rect to catch mouse movements on canvas
                    .attr('width', width) // can't catch mouse events on a g element
                    .attr('height', height)
                    .attr('fill', 'none')
                    .attr('pointer-events', 'all')
                    .on('mouseout', function () { // on mouse out hide line, circles and text
                        d3.select(".mouse-line")
                                .style("opacity", "0");
                        d3.selectAll(".mouse-per-line circle")
                                .style("opacity", "0");
                        d3.selectAll(".mouse-per-line text")
                                .style("opacity", "0");
                    })
                    .on('mouseover', function () { // on mouse in show line, circles and text
                        d3.select(".mouse-line")
                                .style("opacity", "1");
                        d3.selectAll(".mouse-per-line circle")
                                .style("opacity", "1");
                        d3.selectAll(".mouse-per-line text")
                                .style("opacity", "1");
                    })
                    .on('mousemove', function () { // mouse moving over canvas
                        var mouse = d3.mouse(this);
                        d3.select(".mouse-line")
                                .attr("d", function () {
                                    var d = "M" + mouse[0] + "," + height;
                                    d += " " + mouse[0] + "," + 0;
                                    return d;
                                });

                        d3.selectAll(".mouse-per-line")
                                .attr("transform", function (d, i) {
                                    console.log(width / mouse[0])
                                    var xDate = x.invert(mouse[0]),
                                            bisect = d3.bisector(function (d) {
                                                return d.date;
                                            }).right;
                                    idx = bisect(d.values, xDate);

                                    var beginning = 0,
                                            end = lines[i].getTotalLength(),
                                            target = null;

                                    while (true) {
                                        target = Math.floor((beginning + end) / 2);
                                        pos = lines[i].getPointAtLength(target);
                                        if ((target === end || target === beginning) && pos.x !== mouse[0]) {
                                            break;
                                        }
                                        if (pos.x > mouse[0])      end = target;
                                        else if (pos.x < mouse[0]) beginning = target;
                                        else break; //position found
                                    }

                                    d3.select(this).select('text')
                                            .text(y.invert(pos.y).toFixed(2));

                                    return "translate(" + mouse[0] + "," + pos.y + ")";
                                });
                    });

        }
    </script>
    <script language="javascript">

        function load_ajax() {
            $.ajax({
                url: "{{ url_for('ajax') }}",
                type: "POST",
                data: JSON.stringify(
                        {
                            'startTime': $('#start_time').val(),
                            'endTime': $('#end_time').val(),
                            'resolution': $('#resolution').val(),
                            'region': $('#region').val(),
                            'charType': $('#charType').val(),
                        }, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    // Xóa hình ảnh trước,
                    document.getElementById("visualize").innerHTML = "";

                    // lay du lieu tu server
                    var resolution = result.resolution;
                    var dataContent = result.data;
                    var region = result.region;
                    var charType = result.charType;

                    if (region != 0) {
                        oneRegion(dataContent, resolution, charType);
                    }
                    else {
                        allRegion(dataContent, resolution);
                    }
                }
            });
        }
    </script>

    <div class="content">
        {#    Hiển thị 2 thanh chọn ngaỳ tháng#}

        <div class="row" align="center">

            <div class="col-sm-2" style="margin-right: 40px">
                <div id="datetimepicker_start" class="input-append date">
                    <h4>Thời gian bắt đầu</h4>
                    <input type="text" id="start_time" class="form-control" name="startTime"
                           style="height: 34px"></input>
                    <span class="add-on" style="height: 34px">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
                </div>
            </div>
            <div class="col-sm-2" style="margin-right: 40px">
                <div id="datetimepicker_end" class="input-append date">
                    <h4>Thời gian kết thúc</h4>
                    <input type="text" id="end_time" class="form-control" name="endTime" style="height: 34px"> </input>
                    <span class="add-on" style="height: 34px">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
                </div>
            </div>

            <div class="col-sm-2">
                <h4>Kiểu hiển thị</h4>
                <select class="form-control" id="resolution" name="resolution">
                    <option value="days">days</option>
                    <option value="hours">hours</option>
                </select>
            </div>

            <div class="col-sm-2">
                <h4>Kiểu hiển thị</h4>
                <select class="form-control" id="charType" name="charType">
                    <option value="numVisitors">visits</option>
                    <option value="numReturningVisitors">returning</option>
                </select>
            </div>

            <div class="col-sm-2">
                <h4>Khu vực</h4>
                <select class="form-control" id="region" name="region">
                    <option value="1">HUST 1</option>
                    <option value="2">HUST 2</option>
                    <option value="3">HUST 3</option>
                    <option value="4">HUST 4</option>
                    <option value="0">Tất cả</option>

                </select>
            </div>

        </div>


        <div class="row" align="center">
            <button class="btn-primary" onclick="load_ajax()">Hiển thị</button>
        </div>

        <script type="text/javascript">
            $('#datetimepicker_start').datetimepicker({
                format: 'dd/MM/yyyy hh:mm:ss',
                language: 'pt-BR'
            });

            $('#datetimepicker_end').datetimepicker({
                format: 'dd/MM/yyyy hh:mm:ss',
                language: 'pt-BR'
            });
        </script>

        {#    Hiển thị biểu đồ#}
        <div class="visualize" id="visualize">

        </div>

    </div>
{% endblock %}

